
.controls-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;


}


.mask-controls {
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;

}


.button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* spacing between buttons */
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  
  .button-container button {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  /* Media Query for screens 786px and below */
  @media (max-width: 786px) {

    .mask-controls {
      flex-direction: row;

 
      
      }
      
    .button-container {
      flex-direction: column;
    }

    .controls-sidebar {
      flex-direction: row;
      justify-content: center;

    
    
    }
  }