.App {
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem
  
}

/* Hide scrollbar for WebKit-based browsers */
body::-webkit-scrollbar {
  display: none;
}

/* Optional: Still allow scrolling */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

h1, h2 {
  font-size:1.25rem;
  margin:0;
  padding:0;
}

h3 {
  text-align: left;
  line-height: 1.3rem;
  font-size: 0.875rem;
}

h3, h4, h5, h6 {
  position: relative;
  margin: 0;
  padding: 0;

}


.bold {
  font-weight: bold;
}

hr {
  height: 1px;
  border: none;
  max-width: 1080px;
}

input {
  height: 3em;
  margin-left:0.5em;
}

.key-input {
  background-color: rgba(255,255,255,0.2); 

  margin-left: 2px;
  margin-right: 2px;
  padding: 2px 8px; /* Padding inside the rectangle */
  border-radius: 4px; /* Soft corners */
  display: inline-block; /* Ensure it fits snugly around the text */
}

.top-wrapper {
  position: relative;
  margin: 20px;

}

img {
  user-select: none;

}

.image-generator-wrapper {
  width: 100%;
  height: 100%;


}

.image-generator-container {



  position: relative;
  height: 100%; /* or set a specific height */
  overflow: hidden; /* Change from 'auto' to 'hidden' */
}

.interface-wrapper {
  position: relative;
}


.image-generator-section {

 

  position: relative;
  /* height: 80vh;  */

}


.app-container {
  height: 100vh; /* Full viewport height */
  overflow-y: none; /* Enable vertical scrolling */
}

.content-section {
  padding-left: 20px;
  padding-right: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 10px; /* Adds space between columns */
  margin: auto;
}



.grid-container.footer {
  text-align: right;
}

.loading-container {
  margin-left: 2vw;
  margin-top: 2vw;
}

.submit-container {

  border: 2px dashed #333;  /* You can adjust thickness and color */
  border-radius: 8px;       /* Adjust the pixel value to make corners more or less curved */
  padding: 20px;  
  display: flex;
  flex-direction: column;
  gap: 10px;

}



.options button {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  width: 8em;
  height: 100%;
  padding: 0.75rem 0.75rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  /* border: none; */
}

.options button:hover {
  background-color: rgb(232, 232, 232)
}

.options .button-submit {

  padding: 0.75rem 8rem;

}


.buttons {
  gap: 0.5em;
  display: flex;
  align-items: end;
  justify-content: right;
  flex-direction: row;
}

.button-download {
  width: 60px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  right: 0;
  margin: 0.5em 0;

}


.paint-icon {
  width: 50px;
}

.color-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}




.bang {
  width: 100px;
}
#recieveBang {
  pointer-events: none;
}
#sendBang:active {
  background-color: blue;
}

@media screen and (max-width: 500px) {
  .bang {
      width: 50%;
      font-size: 1.5rem;    
  }
  #recieveBang {
      float: left;
  }
}





.main-nav {
  background-color: #333;
  padding: 10px 0;
  margin-bottom: 20px;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.main-nav a:hover {
  background-color: #555;
}