.App {
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em
  
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 1.5em;
  position: relative;
  padding: 2vw
}

.bold {
  font-weight: bold;
}

hr {
  height: 1px;
  background-color: black;
  border: none;
}

.key-input {
  background-color: rgba(255,255,255,0.2); 

  margin-left: 2px;
  margin-right: 2px;
  padding: 2px 8px; /* Padding inside the rectangle */
  border-radius: 4px; /* Soft corners */
  display: inline-block; /* Ensure it fits snugly around the text */
}

.top-wrapper {
  position: relative;
  height: 100vh;

}

.image-generator-wrapper {
  width: 100%;
  height: 100%;

}

.image-generator-container {


  border-color: #333;
  position: relative;
  width: 100%;
  height: 100%; /* or set a specific height */
  overflow: hidden; /* Change from 'auto' to 'hidden' */
}

.image-generator-section {

  margin: 0vw 2vw;

  border-style: solid;
  border-width: 1px;

  border-color: #333;

  position: relative;
  height: 80vh; /* or set a specific height */
  overflow:hidden; /* Change from 'auto' to 'hidden' */
}


.app-container {
  height: 100vh; /* Full viewport height */
  overflow-y: none; /* Enable vertical scrolling */
}

.content-section {
  min-height: 20vh; /* Full viewport height for content */
  padding-left: 2vw;
  padding-right: 2vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* Creates 3 equal columns */
  gap: 10px; /* Adds space between columns */
}


@media (max-width: 768px) {
  .grid-container {
      display: flex; /* Switch to flex layout */
      flex-direction: column-reverse; /* Reverse the order of items */
      gap: 20px; /* Adjust the gap for the new layout */
  }
}

.grid-container.footer {
  text-align: right;
}

.loading-container {
  margin-left: 2vw;
  margin-top: 2vw;
}

.submit-container {

  border: 2px dashed #333;  /* You can adjust thickness and color */
  border-radius: 8px;       /* Adjust the pixel value to make corners more or less curved */
  padding: 20px;  
  display: flex;
  flex-direction: column;
  gap: 10px;

}

button {
  font-size: 16px
}