/* Add these new styles to your CSS */
.app-sub-container {
  display: flex;
  max-width: 100%;
  /* height: 80vh; */
}

.controls-container {
  display: flex;
  flex-direction: column;
}

.canvas-container {
  min-width: 200px;
  width: 70vw;
  height: 70vh;
  flex: 1;
  position: relative;
  overflow: hidden;
  border: 1px solid;

  resize:both;
}

.image-generator-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

/* Modify your existing styles */
.image-generator-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}