.instructions-container {
    text-align: right;
    font-style: italic;
  }
  
  .tabs-container {
    gap: 1rem;
    margin-bottom: 1rem;

  }
  
  .tab-button {
    margin-block-start: 1em;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .tab-button:hover {
    color: #666;
  }
  
  .tab-button.active {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  
  .bold {
    font-weight: bold;
  }